<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/register_successfully.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <title>Road Damage | Register Successfully</title>
</head>

<body class="background"> 
    <img class="background-image" src="../static/img/header-bg.jpg">   
    <div class="error-container">
        <div class="notification">
            <h1> ROAD DAMAGE </h1>
            <p> REGISTER SUCCESSFULLY! </p>
        </div>       
        <a class="btn-go-home" href="/register" target="_blank">LOGIN NOW</a>
    </div>
</body>

</html>